@import "tailwindcss";

body {
  margin: 0;
  padding: 50px;
  padding-top: 0px;
  /*background-color:#4c4a4e;*/
  background: linear-gradient(
    27deg,
    rgba(107, 82, 52, 1) 0%,
    rgba(76, 74, 78, 1) 100%
  );
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: "Rubik", sans-serif;
  height: 100vh;
  padding-bottom: 50px;
}

.itemIcons{
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.fw5 {
  font-weight: 500;
}
.fw4 {
  font-weight: 400;
}
.fw3 {
  font-weight: 300;
}
.fs24 {
  font-size: 24px !important;
}
.fs18 {
  font-size: 16px !important;
}
.fs14 {
  font-size: 14px;
}
.fcorange {
  color: #e6a04a !important;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  background-color: rgba(1, 1, 1, 0);
}

/* redundant but cba */
.textrow {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgba(1, 1, 1, 0);
  text-align: center;
  color: #d6d6d6;
  line-height: 20px;
}

.line {
  width: 700px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
}

.infodesc {
  padding-left: 20px;
  color: #b6b6b6;
}

.icontainer {
  margin-left: auto;
  margin-right: auto;
}

.iblock {
  float: left;
  width: 50px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.iblock img {
  width: 100%;
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

.iseparator {
  float: left;
  width: 30px;
}

.iseparator img {
  opacity: 0.75;
}

.col-triple {
  float: left;
  height: 150px;
  width: 50px;
}

.col-triple div {
  margin-bottom: 5px;
}

.iseparator-triple {
  float: left;
  height: 150px;
}

.iseparator-triple img {
  margin-top: 55px;
}

.crossed {
  position: relative;
  border: 2px solid #333;
  overflow: hidden;
}

.crossed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, transparent calc(50% - 1px), #cc0000 calc(50% - 2px), #cc0000 calc(50% + 2px), transparent calc(50% + 1px));
  pointer-events: none;
}

.sellarrow {
  margin-top: 40px;
  position: absolute;
}
